.DarkAnnotation {
  position: absolute;
  background-color: #191c2c;
  border-radius: 10px;
  padding: 3px 15px;
  color: white;
  font-size: 24px;
  z-index: -15;
  left: 120px;
  bottom: 100px;
}

.DarkAnnotation-side {
  z-index: -15;
  position: absolute;
  right: 120px;
  bottom: 80px;
  background-color: #191c2c;
  border-radius: 10px;
  padding: 3px 15px;
  color: white;
  font-size: 24px;
}

.SliderGuideText {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #333333;
}
